################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Movies/obj/Release/net461/Movies.exe.withSupportedRuntime.config
